.section-gallery {
    padding-top: 100px;
    padding-bottom: 78px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .divider {
        width: 157px;
        border: 1px solid $color-light;
        opacity: 0.5;
        margin-bottom: 38px;

        // Como la clase .section-gallery se reutiliza en varios componentes utiliza el padding-top 100
        // pero en este caso lo necesito sacar
        margin-top: -100px;
    }

    .title-icon {
        padding-top: 5px;
        width: 28px;
        height: 21px;
    }

    .title {
        padding-top: 7px;

        font-family: $font-secondary;
        font-size: 20px;
        line-height: 30px;
        color: var(--text-primary);
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 25px;
        column-gap: 21px;

        padding-top: 46px;    
        padding-left: 21px;
        padding-right: 21px;
    }

    .searched-gifo {
        width: 156px;
        height: 120px;
    }

    .button-container {
        margin-top: 78px;
    }

    .no-content {
        padding-top: 46px;
        padding-left: 21px;
        padding-right: 21px;
        margin-bottom: 78px;
    }

    .no-content-logo {
        width: 150px;
        height: 150px;
    }

    .no-content-text {
        margin-top: 24px;

        font-family: $font-secondary;
        font-size: 22px;
        font-weight: 700;
        line-height: 33px;
        color: $color-secondary;
    }

}

@media (min-width: $desktop-min-width) {
    .section-gallery {
        .gallery {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            row-gap: 29px;
            column-gap: 29px;
    
            padding-top: 60px;    
            padding-left: 21px;
            padding-right: 21px;

        }

        .searched-gifo {
            width: 260px;
            height: 200px;

        }
    }
}