.section-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 100px;

    text-align: center;

    h1 {
        padding-top: 7px;
        padding-left: 45px;
        padding-right: 44px;

        font-family: $font-secondary;
        font-weight: bold;
        font-size: 25px;
        line-height: 33px;
        color: var(--text-primary);
    }

    .search-block {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        width: 100%;
        padding-top: 31px;

        &-img {
            width: 273px;
            height: 130px;
            margin-bottom: 0;
        }



    }

    .search-bar {
           
        width: 334px;
        padding-top: 15px;
        padding-bottom: 13px;

        background-color: var(--background-blank);
        border: 1px solid var(--text-primary);
        border-radius: 27px;

        &-form {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            margin-left: 19px;
            margin-right: 20px;
        }

        &-input-group {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            height: 22px;
        }


        &-input {
            margin-left: 14px;

            border: none;
            outline: none;
            background-color: var(--background-blank);
            
            font-family: $font-primary;
            font-size: 16px;
            line-height: 19px;
            color: var(--text-blank);

        }

        &-button {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }

        &-expanded {
            margin-bottom: 55px;
        }

        &-divisor {
            width: 90%;
            height: 1px;
            background-color: var(--text-light);
            margin: 5px auto;
        }

        &-result-group {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: flex-start;

            padding-top: 12px;
            padding-bottom: 18px;
            width: 100%;

        }

        &-result {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;

            padding-left: 23.6px;
            width: 100%;
            cursor: pointer;
            margin-bottom: 10px;

            &-text {
                margin-left: 14.6px;
                font-family: $font-primary;
                font-size: 16px;
                line-height: 19px;
                color: $color-light;
            }
        }
    }
    
    .button-icon {
        width: 24px;
        height: 24px;
    }

    .icon-search-dark {
        filter: grayscale(100%) opacity(40%);

    }

    .icon-close {
        padding: 5px;
    }

    .icon-search-result {
        width: 15.8px;
        height: 15.8px;
    }
    
    .icon-search-result.dark-theme-hide {
        filter: grayscale(100%) opacity(40%);
    }

    .trending {
        padding-top: 31px;
        padding-left: 75px;
        padding-right: 75px;
        padding-bottom: 45px;

        &-title {
            font-family: $font-secondary;
            font-weight: bold;
            font-size: 16px;
            line-height: 25px;
            color: var(--text-primary);
        }

        &-topics {
            font-family: $font-secondary;
            font-weight: normal;
            font-size: 14px;
            line-height: 25px;
            color: var(--text-primary);
            
        }

        &-topic {
            font-family: $font-secondary;
            font-weight: normal;
            font-size: 14px;
            line-height: 25px;
            color: var(--text-primary);

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

@media (min-width: $desktop-min-width) {
    .section-main {

        h1 {
            padding-left: 253px;
            padding-right: 253px;

            max-width: 934px;
        }

        .search-block {
            padding-top: 24px;
    
            &-img {
                width: 399px;
                height: 190px;
            }

        }

            
        .search-bar {
            width: 551px;

            padding-top: 15px;
            padding-bottom: 13px;

            background-color: var(--background-blank);
            border: 1px solid var(--text-primary);
            border-radius: 27px;
        }
    }


}