.section-trending {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background-color: var(--background-contrast);
    text-align: center;

    .title {
        padding-top: 46px;
        
        font-family: $font-secondary;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: var(--text-primary);
    }

    .subtitle {
        padding-top: 7px;

        margin-left: 21px;
        margin-right: 21px;
        

        color: var(--text-blank);
        font-family: $font-primary;
        font-size: 16px;
        font-weight: 400;        
        line-height: 23px;        
        
    }

    .gallery {
        display: flex;
        flex-flow: row nowrap;
        gap: 22px;
        overflow: auto;
        width: 100%;

        padding-top: 32px;
        padding-bottom: 82px;
        padding-left: 22px;

        .trending-gifo {
            height: 187px;
            flex: 0 0 243px;
        }
    }
}

@media (min-width: $desktop-min-width) {
    .section-trending {

        padding-left: 157px;
        padding-right: 157px;

        .gallery {

            .trending-gifo {
                height: 275px;
                flex: 0 0 357px;
            }
        }
    }
}