.section-header {
  position: fixed;
  z-index: 1;
  width: 100vw;
}

nav {
  position: fixed;
  top: 5px;
  left: 0;
  width: 100vw;
  height: 95px;
  background-color: var(--background-blank);
  padding-left: 16px;
  padding-top: 29px;
  padding-bottom: 13px;
  z-index: 5;
  user-select: none;

  .logo {
    height: 48.8px;
    width: 48.8px;
  }

  .logo-svg {
    fill: var(--text-primary);
  }
}

.menu-toggle {
  display: inline-block;
  position: absolute;
  top: 52px;
  right: 27px;
  user-select: none;

  .menu-link {
    text-decoration: none;
    color: $color-white;
    user-select: none;
    transition: color 0.3s ease;

    &:hover {
      text-decoration-style: underline;
      text-decoration-color: $color-secondary;
      text-decoration-thickness: 3px;
    }

    &:active {
      text-decoration: underline;
      text-decoration-color: $color-secondary;
      text-decoration-thickness: 3px;
    }
  }

  input {
    display: block;
    width: 30px;
    height: 21px;
    position: absolute;
    left: -6px;

    cursor: pointer;

    opacity: 0;
    z-index: 20;
  }

  span.hamburguer-menu {
    display: block;
    width: 18px;
    height: 2px;
    margin-bottom: 3px;
    position: relative;

    background: var(--text-primary);
    border-radius: 3px;

    z-index: 10;

    transform-origin: 4px 0; //12px 0px
    transform-origin: 12px 0;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  span.hamburguer-menu:first-child {
    transform-origin: 0 0;
  }

  span.hamburguer-menu:nth-last-child(2) {
    transform-origin: 0 100%;
  }

  input:checked ~ span.hamburguer-menu {
    opacity: 1;
    transform: rotate(45deg) translate(6.5px, 3px);
  }

  input:checked ~ span.hamburguer-menu:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  input:checked ~ span.hamburguer-menu:nth-last-child(2) {
    transform: rotate(-45deg) translate(4px, 4px);
  }

  input:checked ~ ul {
    transform: none;
  }
}

// The overlay
.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding-top: 100px;

  top: 0;
  left: 0;
  background: var(--background-primary);
  opacity: 0.9;
  list-style-type: none;

  transform-origin: 0 0;
  transform: translate(0, calc(-100%));

  // transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  color: $color-light;

  li {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    font-family: $font-secondary;
    line-height: 60px;
    font-size: 15px;
  }

  li:first-child {
    margin-top: 17px;
  }

  li::after {
    content: "";
    width: 40px;
    opacity: 0.5;
    height: 0.3px;
    background-color: $color-white;
    position: absolute;
    bottom: 5px;
  }
}

.menu-link {
  &:hover {
    cursor: pointer;
  }
}

.menu-desktop {
  display: none;
}

@media (min-width: $desktop-min-width) {
  .menu-toggle {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 100px;
    padding-right: 100px;

    .logo {
      width: 59.1px;
      height: 59.1px;
    }
  }

  .menu-desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 48px;
    align-items: center;

    list-style: none;

    li {
      font-family: $font-secondary;
      line-height: 16px;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      color: var(--text-primary);
    }

    .menu-link {
      text-decoration: none;
      color: inherit;
      text-decoration-color: rgba(0,0,0, 0);
      transition: text-decoration 0.5s ease;
      user-select: none;

      &:hover {
        cursor: pointer;
        text-decoration: underline solid $color-secondary 4px;
      }

      &:active {
        text-decoration: underline solid $color-secondary 4px;

      }
    }

    .menu-link.active {
      color: var(--text-light);
    }

    .create-gifo-link {
      display: block;
      width: 54px;
      height: 54px;
      background: var(--button-crear-gifo);

      &:hover {
        background: var(--button-crear-gifo-hover);
      }
    }
    .create-gifo-link.active {
      background: var(--button-crear-gifo-active);
    }


  }
}
