// Variables

// Colors
$color-primary: #572ee5;
$color-secondary: #50e3c2;
$color-white: #fff;
$color-black: #000;
$color-dark: #000;
$color-light: #9cafc3;
$color-background-dark-1: #37383c;
$color-background-dark-2: #222326;
$color-background-light-1: #fff;
$color-background-light-2: #F3F5F8;

// Fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

// Responsive

$desktop-min-width: 768px;
$desktop-min-width-lg: 992px;
$desktop-min-width-xl: 1200px;
